body {
    margin: auto;
}

.main {
    background-image: url("../img/subhead.jpg");
    background-size: 100%;
    font-family: roboto;
}

.formcont {
    display: flex;
    justify-content: center;
    width: 758px;
    height: 530px;
    background-color: #00000060;
    border-radius: 15px;
    margin-left: 27%;
    margin-top: 10%;
}

.formcont p {
    margin-top: 20%;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18pt;
    width: 145px;
    color: white;
}

.inpt {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    width: 368px;
}

.inputs {
    width: 368px;
}

.inputs input {
    border-radius: 10px;
    border-color: black;
    z-index: 1;
}

.inputs a {
    margin-left: 18%;
    margin-right: auto;
    text-decoration: underline;
    color: white;
}

.inpgrp1 {
    display: flex;
    width: 340px;
}

.inpgrp1 input {
    margin-right: 8%;
    width: 160px;
    height: 40px;
}

.inpt input {
    width: 360px;
    height: 40px;
    margin-top: 15px;
}

.inpgrp2 {
    display: flex;
    width: 368px;
}

.inpgrp2 input {
    width: 160px;
    height: 40px;
    margin-top: 15px;
    margin-right: 8%;
}

.logbtn {
    margin-left: 26%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.logbtn button {
    border-radius: 13px;
    background-color: white;
    width: 179px;
    height: 40px;
    cursor: pointer;
}